.only-human-character-sheet {
  border: 5px solid brown;
  display: flex;
  flex-wrap: wrap;
}

.only-human-character-sheet > div {
  border: 5px solid black;
  width: 50%;
  padding: 1rem;
}

.only-human-character-sheet .right-panel {
  overflow-y: auto;
}

.only-human-character-sheet .stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.only-human-character-sheet .character-header h1 {
  margin-bottom: 0;
}

.only-human-character-sheet .character-header span {
  margin-bottom: 1rem;
}

.only-human-character-sheet .stats > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
  background-color: var(--secondary-background-colour);
  border-radius: 7px;
  color: var(--secondary-text-colour);
}

.only-human-character-sheet .stats span {
  width: 100%;
  text-align: center;
  border: none;
  font-size: 3rem;
  background-color: transparent;
  color: var(--secondary-text-colour);
  margin: 1rem;
}

.only-human-character-sheet .stats label {
  padding-top: 1rem;
}

@media screen and (max-width: 800px) {
  .only-human-character-sheet > div {
    width: 100%;
  }
}