.tabs {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.tabs .tab-selection {
    display: flex;
    flex-direction: row;
}

.tabs .tab-selection button {
    border: none;
    background-color: var(--button-background-colour);
    color: var(--button-text-colour);
    padding: 1rem;
    cursor: pointer;
}

.tabs .tab-selection button[data-selected="true"] {
    background-color: var(--panel-background-colour);
    color: var(--panel-text-colour);
}

.tabs .tab-selection button[data-selected="false"]:hover {
    background-color: var(--hovered-button-background-colour);
    color: var(--hovered-button-text-colour);
}

.tabs .tab-body {
    padding: 1rem;
    background-color: var(--panel-background-colour);
    flex-grow: 1;
}
