.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--backdrop-colour);

}

.page .content {
  flex-grow: 1;
  background-color: var(--primary-background-colour);
  color: var(--primary-text-colour);
  width: 70%;
  max-width: 900px;
  margin: auto;
}

.page header, .page footer {
  background-color: var(--secondary-background-colour);
  color: var(--secondary-text-colour);
}

@media screen and (max-width: 800px) {
  .page .content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}